[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
.
requests = "*"
twine = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.7"
