[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tfx-gpt2 = {path = "."}
kfp = "*"
apache-airflow = "*"

[dev-packages]
tfx-gpt2 = {path = "."}
kfp = "*"
apache-airflow = "*"

[requires]
python_version = "3.7"
